.tabbedchatlog.tabs {
	flex: 0;
	margin: 0 0 5px;
	border-bottom: 1px solid #ff6400;
	box-shadow: 0 0 10px red;
	min-height: 18px;
	overflow-x: hidden;
	overflow-y: hidden;
	flex-wrap: nowrap;
}

.tabbedchatlog .item.active {
	color: #fff;
	border: 1px solid red;
	border-bottom: none;
	box-shadow: 0 0 6px inset #ff6400;
	border-radius: 5px 5px 0 0;
}

.tabbedchatlog .item {
	height: 18px;
	flex: 1;
	white-space: nowrap;
	min-width: fit-content;
	padding: 0 5px;
	position: relative;
}

.tabbedchatlog .notification-pip {
	position: absolute;
	top: 0;
	right: 5px;
}

.form.tabbed-chat .tab-buttons {
	margin-bottom: 0.5em;
}

.form.tabbed-chat .tab-buttons button:disabled {
	cursor: default;
	color: grey;
}

.form.tabbed-chat input[type="number"] {
	text-align: center;
}

.form.tabbed-chat .tc-collapse-label:hover {
	text-shadow: 0 0 8px var(--color-shadow-primary);
}
